html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #000000;
   text-decoration: none;
}
a:active
{
   color: #FFC000;
}
a:hover
{
   color: #FFC000;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_privacy_policy_krmwLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#privacy_policy_krmwLayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#privacy_policy_krmwLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#privacy_policy_krmwLayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#privacy_policy_krmwLayoutGrid1 > .row > .col-1
{
   float: left;
}
#privacy_policy_krmwLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#privacy_policy_krmwLayoutGrid1:before,
#privacy_policy_krmwLayoutGrid1:after,
#privacy_policy_krmwLayoutGrid1 .row:before,
#privacy_policy_krmwLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#privacy_policy_krmwLayoutGrid1:after,
#privacy_policy_krmwLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#privacy_policy_krmwLayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_privacy_policy_krmwText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 10px 0px 10px 0px;
   text-align: center;
}
#wb_privacy_policy_krmwText1 div
{
   text-align: center;
}
#wb_privacy_policy_krmwText1
{
   display: block;
   margin: 10px 0px 10px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_privacy_policy_krmwImage1
{
   margin: 10px 0px 0px 0px;
   vertical-align: top;
}
#privacy_policy_krmwImage1
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 168px;
   height: 168px;
   vertical-align: top;
}
#wb_privacy_policy_krmwText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 10px 0px;
   text-align: left;
}
#wb_privacy_policy_krmwText2
{
   color: #000000;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_privacy_policy_krmwText2 p, #wb_privacy_policy_krmwText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_privacy_policy_krmwText2
{
   display: block;
   margin: 0px 0px 10px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_uid19
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid1
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid2
{
   font-weight: bold;
}
#wb_uid3
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid4
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid5
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid6
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_privacy_policy_krmwImage1
{
   display: inline-block;
   width: 168px;
   height: 168px;
   z-index: 0;
}
#wb_uid7
{
   font-weight: bold;
}
#wb_uid20
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid8
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid21
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid10
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid9
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid22
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid11
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid23
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid12
{
   font-weight: bold;
}
#wb_uid24
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid13
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid25
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid14
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid26
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid15
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid16
{
   font-size: 19px;
   line-height: 21px;
   color: #000000;
}
#wb_uid17
{
   font-weight: bold;
}
#wb_uid18
{
   font-size: 19px;
   line-height: 21px;
}
#wb_uid0
{
   color: #000000;
   font-family: "Times New Roman";
   font-size: 21px;
}
