html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#preloader
{
   background: #FFFFFF url("images/rotating-dots.gif") no-repeat center center;
   bottom: 0;
   opacity: 0.78;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#wb_digitallockerLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#digitallockerLayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#digitallockerLayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#digitallockerLayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#digitallockerLayoutGrid1 > .row > .col-1
{
   float: left;
}
#digitallockerLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#digitallockerLayoutGrid1:before,
#digitallockerLayoutGrid1:after,
#digitallockerLayoutGrid1 .row:before,
#digitallockerLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#digitallockerLayoutGrid1:after,
#digitallockerLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#digitallockerLayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#page2Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#page2Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 81px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#page2Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page2Editbox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 81px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#page2Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page2Editbox3
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 81px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#page2Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page2Editbox3
{
   display: block;
   width: 100%;
   height: 91px;
   z-index: 2;
}
#page2Button1
{
   display: inline-block;
   width: 195px;
   height: 79px;
   z-index: 3;
}
#digitallockerLayoutGrid1
{
   display: none;
}
#page2Editbox1
{
   display: block;
   width: 100%;
   height: 91px;
   z-index: 0;
}
#page2Editbox2
{
   display: block;
   width: 100%;
   height: 91px;
   z-index: 1;
}
